name: Lint Format Build
on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev
  workflow_dispatch:
# https://zellwk.com/blog/github-actions-deploy/
jobs:
  lint-format-build:
    if: ${{ ! startsWith(github.event.pull_request.head.ref, 'renovate/') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js and pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Format
        if: ${{ always() }}
        run: pnpm format

      - name: Build
        if: ${{ always() }}
        run: pnpm build

  test:
    if: ${{ ! startsWith(github.event.pull_request.head.ref, 'renovate/') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js and pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm test
