name: Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: write
      pull-requests: write
      id-token: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org

      - name: Enable Corepack (pnpm)
        run: |
          corepack enable
          corepack prepare pnpm@10 --activate
          npm --version
          pnpm --version

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Create Release Pull Request or Publish
        uses: changesets/action@v1
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: "true"

      - name: Push the release tags back
        run: git push --follow-tags
